

.mat-radio-button ~ .mat-radio-button {
  margin: 16px;
}

mat-label{
  display: flex;
  flex-wrap: wrap;

}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}


